* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  margin: 5vw auto;
  width: 90vw;
  background: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2fr;
  grid-template-rows: 50px 150px 100px;
  gap: 10px;
}
.grid-item {
  /* margin: 0 auto; */
  background: gray;
  text-align: center;
  padding: 10px;
  border: 2px solid red;
}

.grid-item:nth-child(1) {
  grid-column: span 2;
}

.grid-item:nth-child(2) {
  grid-column: span 1;
}

.grid-item:nth-child(3) {
  grid-column: span 3;
}

.grid-item:nth-child(4) {
  grid-column: 3 / span 3;
  justify-self: stretch;
  align-self: center;
}

.grid-item:nth-child(5) {
  grid-column: span 3;
}
.grid-item:nth-child(6) {
  grid-column: span 3;
}
